
body {
    background-image: url(/Pagina_com_cards/imagens/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    margin: 0;
    color: white;
}


.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.cabecalho h1 {
    font-size: 5opx;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 1px 3px black;

}

.cabecalho p {
    font-size: 16px;
    background-color: black;
    padding: 10px 15px;
    border-bottom: 1px solid;
    border-radius: 5px;
}

.container_principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 5px;
    width: 80%;
    max-width: 1000px; 
    margin: 25px auto;         
    background-color: white;
}

.conteudo_principal {
    background-color: black;
    margin: 15px 10px;
    
}

.conteudo {
    margin-left: 10px;
    font-size: 15px;
    padding: 1px;
}



